/* General styles for both pages */
body {
    font-family: 'Verdana', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
    padding: 20px; 
}

/* Specific background colors for each page */
body.index-page {
    background-color: #603747; 
}

body.second-page {
    background-color: #9f78a5; 
}

h1, h2 {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    color: #4b0082; 
    transition: font-family 0.3s ease; 
}

h1:hover, h2:hover {
    font-family: 'Comic Sans MS', cursive;
}


nav {
    margin-top: 20px;
}

a {
    color: #fff;
    background-color: #2980b9;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block; 
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #3498db;
    text-decoration: underline; 
}

footer {
    margin-top: 50px;
}

img {
    border-radius: 8px;
    margin-top: 20px;
}

p {
    background: linear-gradient(135deg, rgba(255,255,255,0.8), rgba(255,255,255,0.6));
    padding: 20px;
    border-radius: 10px;
    max-width: 800px; 
    margin: 20px auto; 
    line-height: 1.6; 
}

ul {
    list-style-position: inside; 
    padding-left: 0; 
    max-width: 800px; 
    margin: 20px auto; 
    text-align: left; 
}

li {
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    color: #4b0082; 
}
